/*  your css code here. If applicable */
h1{
	text-align:center;
}
.book-library{
	max-width:600px;
	text-align:;
	background-color: #f8f8f8;
	
}
p{
	color: #777777;
}
.price{
	background-color:  #2ecc71;
	width:100%;
	text-align:center;
	padding:10px;
	border-radius:10px;
	margin:10px;
	color:rgb(255, 255, 255);
}
.book{
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.details{
	width:100%;
	background-color:rgb(46, 204, 113);
	color:gb(255, 255, 255);
}
/* h2,p{
	color:blue;
	align-text:left;} */